<!DOCTYPE html>
<html>
  <head>
    <title>Vexuf 24</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" if resolve_layout == "application" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag resolve_layout, "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
  </body>
</html>