<!DOCTYPE html>
<html class="dark">
  <head>
    <title>Vexuf 24</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= render partial: "shared/meta_tags" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag resolve_layout, "data-turbo-track": "reload", type: "module" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "shared/window_objects" %>
  </head>
  <body>
    <%= turbo_frame_tag :cookies_banner, src: cookies_banner_path if session[:cookies_accepted].nil? %>
    <% if resolve_layout == "application" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <% if resolve_layout == "application" %>
      <div id="theme-provider" >
      </div>
    <% end %>
  </body>
</html>        